<div class="h-screen w-full flex flex-column surface-ground overflow-hidden">
  
  <div class="h-4rem flex-shrink-0 bg-gray-900 flex justify-content-between align-items-center px-4 shadow-2 z-5 relative border-bottom-1 border-gray-800">
    <div class="flex align-items-center gap-2 md:gap-4">
      <div class="flex align-items-center cursor-pointer">
         <i class="pi pi-car text-primary text-2xl mr-2"></i>
         <span class="text-white font-bold text-xl">Auto<span class="text-primary">Log</span></span>
      </div>
      <p-button icon="pi pi-bars" [text]="true" styleClass="text-white hover:bg-gray-800" (onClick)="toggleSidebar()"></p-button>
    </div>
    
    <div class="flex align-items-center gap-3 cursor-pointer" (click)="profileMenu.toggle($event)">
      <span class="text-gray-300 hidden sm:block text-sm font-medium">Julio</span>
      <p-avatar label="JR" shape="circle" styleClass="bg-primary text-white font-bold"></p-avatar>
    </div>
  </div>

  <div class="flex flex-grow-1 relative overflow-hidden">
    
    @if (sidebarVisible) {
      <div class="dark-sidebar w-15rem bg-gray-800 flex-shrink-0 shadow-4 z-4 absolute lg:static h-full left-0 top-0">
        <div class="py-4 px-3">
          <p-menu [model]="sidebarItems" styleClass="w-full bg-transparent border-none"></p-menu>
        </div>
      </div>
    }

    <div class="flex-grow-1 p-4 md:p-5 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>

<p-menu #profileMenu [popup]="true" [model]="profileItems"></p-menu>